<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Book Backlog</title>
  <link rel="shortcut icon" href="">
  <link rel="stylesheet" href="font-awesome.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Mate+SC&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div id=content>
    <h1>Book Backlog</h1>
  <section>
    <h2>Choose a book to start reading</h2>

    <h3 href="https://www.harukimurakami.com/book/after-dark">After Dark by Haruki Murakami</h3>
    <p>Read it? <a href="#FORM">Share your thoughts</p>
    <h3 href="https://www.goodreads.com/book/show/29760778-the-tiger-s-daughter">The Tiger's Daughter by K. Arsenault Rivera</h3>
    <p>Read it? <a href="#FORM">Share your thoughts</a>
      <h3 href="https://www.barnesandnoble.com/w/innocent-mage-karen-miller/1102340728">Innocent Mage by Karen Miller</h3>
    <p>Read it? <a href="#FORM">Share your thoughts</p>
    <h3 href="https://www.goodreads.com/book/show/186074.The_Name_of_the_Wind">The Name of the Wind by Patrick Rothfuss</h3>
    <p>Read it? <a href="#FORM">Share your thoughts</p>

  <form action="/messages" method="POST">
    <input type="text" placeholder="message" name="msg">
    <button type="submit">Submit</button>
  </form>
</main>
</div>

  <script src="main.js"></script>

</body>
</html>
